name: Terraform PR Commands

on:
  issue_comment:
    types: [created]

permissions:
  contents: read
  pull-requests: write
  id-token: write

jobs:
  terraform:
    if: |
      github.event.issue.pull_request &&
      (
        contains(github.event.comment.body, '/terraform plan') ||
        contains(github.event.comment.body, '/terraform apply')
      )
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: terraform

    steps:
      - name: Checkout PR code
        uses: actions/checkout@v4
        with:
          ref: refs/pull/${{ github.event.issue.number }}/merge

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.6.6

      # ---- AWS AUTH (OIDC) ----
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}


      - name: Terraform Init
        run: terraform init

      - name: Terraform Plan
        if: contains(github.event.comment.body, '/terraform plan')
        run: terraform plan

      - name: Terraform Apply
        if: contains(github.event.comment.body, '/terraform apply')
        run: terraform apply -auto-approve
